:host {
  display: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);

  .modal-container {
    min-width: 400px;
    min-height: 200px;
    max-width: 80%;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
  }
}
