<div class="youtube-container">
  <div class="ui centered grid" style="margin-top: 3rem;">
    <div class="fourteen wide column">
      <h1 class="ui centered aligned header">
        <span style="vertical-align: middle;">Youtube Search </span>
      </h1>
      <app-search-input (search)="getVideos($event)"></app-search-input>

      <div *ngIf="loading" style="margin: 3rem;">
        <div class="ui active centered inline loader"></div>
      </div>

      <app-search-list *ngIf="!loading" [videos]='videos'></app-search-list>
    </div>
  </div>



</div>
