.section-header {
  height: 60px;

  .section-header-list {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .section-header-list__item {
      padding-right: 10px;
    }
  }
}

.section-content {
  .posts-table {
    width: 100%;
  }
}
